{% extends 'cmdb/cmdb.html' %} {% block css %}
<link href="/static/css/common2.css" rel="stylesheet" type="text/css">

<link href="/static/css/ymPrompt.css" rel="stylesheet" type="text/css">

<link href="/static/css/smartMenu.css" rel="stylesheet" type="text/css">

<link href="/static/css/pace.min.css" rel="stylesheet">

<script src="/static/js/pace.min.js"></script>

{% endblock %} {% block cmdb_detail %}

<div id="systemWorking"
	style="z-index: 100; position: absolute; display: none; left: 40%; top: 40%">
	<table width="10" height="20" border="0" cellpadding="0"
		cellspacing="1">
		<tr>
			<td align="center" valign="middle">
				<img src="/static/images/loading.gif" align=center>
			</td>
		</tr>
	</table>
</div> 


<table width="100%" height="64" border="0" cellspacing="0"
	cellpadding="0">
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>

<table height="800" width="800" border="1" align="left" cellpadding="3"
	cellspacing="0" id="maintables">
	<form action="" method="get" name="systemForm">

		<tr>
			<td align="left">
				<div align="center">
					<font class="baner_font" color="#030303">操作</font>
				</div>
			</td>
			<td align="left">
				<div class="form-group">
					<label class="col-sm-2 control-label">上传文件:</label>
					<div class="col-sm-10">
						<input class="form-control" id="id_file" multiple="" name="id_file" placeholder="上传文件或目录" type="file" />
						<span style="color: red"></span>
					</div>
				</div>
			</td>
		</tr>


		<tr bgcolor="#eeeeee">
			<td width="1" rowspan="3" valign="top" bgcolor="#eeeeee">

				<table width="20%" border="1" cellspacing="1" cellpadding="0">
					<tr>
						<td>
							<select name="hostgroup_name" id="hostgroup_name"
								onChange="change_hostgroup(this.value)"
								class="sys_server_select" size="8" multiple>
								<option value="-1">正在加载...</option>
							</select>
						</td>
					</tr>

					<tr>
						<td>

							<select name="host_ip" id="host_ip" class="sys_server_select"
								size="40" multiple>
								<!--			<option value="-1"><-请选择主机-></option> -->
							</select>
						</td>
					</tr>

				</table>

			</td>
			<td height="50" align="right" bgcolor="#eeeeee">
				<table width="99%" border="1" cellspacing="0" cellpadding="0">
					<tr>
						<td align="left">
							
								<table width="100%" height="10" border="0" cellpadding="3"
									cellspacing="0">
									<tr>
										
										<td align="left">
											<input type="button" name="Submit_run1" value="运  行"
												id="sys_run_button" onClick="return subcmd();">
												&nbsp;&nbsp;
											<input type="button" name="Submit_ref2" value="刷  屏"
												id="sys_run_button" onClick="return clear_screen();">
												&nbsp;&nbsp;
											<input type="button" name="Submit_ref3"  value="Nt Floor"
												id="sys_run_button" onClick="return nt_floor();">
												&nbsp;&nbsp;
											<input type="button" name="Submit_ref4"  value="Pic Floor"
												id="sys_run_button" onClick="return pic_floor();">
												&nbsp;&nbsp;	
											<input type="button" name="Submit_ref5"  value="Web Floor"
												id="sys_run_button" onClick="return web_floor();">
												&nbsp;&nbsp;		
											<input type="button" name="Submit_add" value="添加模块"
												id="sys_add_button"
												onClick="javascript:window.location.href='/autoadmin/module_add/';">
												&nbsp;&nbsp;
											<input type="button" name="Submit_add" value="安全审计"
												id="sys_add_button"
												onClick="javascript:window.location.href='/omaudit/';">
										</td>
									</tr>
								</table>

							
						</td>
					</tr>
				</table>

			</td>
		</tr>
		<tr>
			<td height="4" valign="top" bgcolor="#eeeeee"></td>
		</tr>
		<tr>

			<td valign="top" align="center" bgcolor="#030303">
				<table width="99%" border="0" cellspacing="100" cellpadding="0"
					bgcolor="#000000">
					<tr>
						<td align="left">
							<font class="ajaxmodulerunresult">
								[user@omserver]#
								<img src='/static/images/cursor_f01.gif' align='absmiddle'>
								<input type="text" id="text_cmd" class="text_cmd"
									placeholder="输入命令"
									style="BACKGROUND-COLOR: transparent; color: #FF0000; width: 800px; overflow-x: visible; overflow-y: visible;" />
							</font>
							<br>
							<div class="ajaxmodulerunresult" id="ajaxmodulerunresult"
								style="overflow: auto; height: 700px; OVERFLOW-y: auto; font-family: Verdana, Arial, Vrinda, Tahoma;"></div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<input type="hidden" name="ModuleID" id="ModuleID" value="">
		<input type="hidden" name="ModuleName" id="ModuleName" value="">
	</form>
</table>
<br>


{% endblock %} {% block cmdb_js %}

<script src='/static/js/jquery-smartMenu.js'></script>

<script src="/static/plugins/jquery-ui/jquery-ui.min.js"></script>

<script src="/static/plugins/bootstrap-fileinput/js/fileinput.js"></script>

<script src="/static/plugins/bootstrap-select/bootstrap-select.min.js"></script>

<script>
	$(function() {
		$("[href='/cmdb/create_host']").parent().removeClass('active');
		$("[href='/cmdb/host_group_create']").parent().removeClass('active');
		$("[href='/cmdb/host_list']").parent().removeClass('active');
		$("[href='/cmdb/host_group_list']").parent().removeClass('active');
		$("[href='/cmdb/cmd']").parent().addClass('active');

		$.ajax({
					type : "POST",
					url : "/cmdb/getHostGroup/",
					dataType : 'json',
					success : function(data, textStatus) {
						if (textStatus == 'success') {
							$("#hostgroup_name").empty();
							if (data.length > 0) {

								for ( var i = 0; i < data.length; i++) {
									var str1 = "<option value="+data[i].group_id+"><font class='baner_font'>"
											+ data[i].group_name
											+ "</font></option>";
									$("#hostgroup_name").prepend(str1);
									console.log(str1);
								}
								var str1 = "<option value=-1><font class='baner_font'><-选择主机组-></font></option>";
								$("#hostgroup_name").prepend(str1);
							}
						}
					}
				});

		var data = [ 
		             [ {
						text : "打开服务器",
						func : function() {
							var src = $(this).find('option:selected').text();
							var ip = src.substring(src.indexOf("__") + 2);
							window.open("https://" + ip + ":4200");
						}
					} ],
		            [ {
							text : "防攻击，关闭当前连接数超过100个链接的IP",
							func : function() {
								var src = $(this).find('option:selected').text();
								var ip = src.substring(src.indexOf("__") + 2);
								window.open("https://" + ip + ":4200");
							}
					} ],
		            [ {
						text : "防攻击，关闭当天访问Web服务次数过多的IP",
						func : function() {
							var src = $(this).find('option:selected').text();
							var ip = src.substring(src.indexOf("__") + 2);
							window.open("https://" + ip + ":4200");
						}
				} ],
			]; 

		$("#host_ip").mousedown(function(e) {
			if (e.which == 3) {
				$("#host_ip").smartMenu(data);
			}
		})

		$("#host_ip").focus(function() {
			$("#host_ip").css("background-color", "#FFFFCC");
		})

		$("#host_ip").blur(function() {
			$("#host_ip").css("background-color", "#D6D6FF");
		})

	});

	function change_moduleinfo(arg) {
		$.ajax({
			type : "POST",
			url : "/cmdb/host_list_s/",

			success : function(data, textStatus) {

				if (textStatus == 'success') {
					console.log('.........................');
					$("#host_list_conditions").html(data);
					$("#hoststatus option[value=" + hoststatus_id + "]").attr(
							"selected", "selected");
					$("#hoststatus option[value!=" + hoststatus_id + "]").attr(
							"selected", false);

				}
			}

		});

	};

	function change_hostgroup(arg) {
		$
				.ajax({
					type : "POST",
					data : {
						'hostgroup_id' : arg
					},
					url : "/cmdb/cmd_hostname/",

					success : function(data, textStatus) {
						if (textStatus == 'success') {
							$("#host_ip").empty();
							if (data.length > 0) {
								var str1 = '';
								for ( var i = 0; i < data.length; i++) {
									if (data[i].wan_ip) {
										var str1 = "<option value="+data[i].id+"><font class='baner_font'>"
												+ data[i].hostname
												+ "__"
												+ data[i].wan_ip
												+ "</font></option>";
										$("#host_ip").prepend(str1);
									} else {
										var str1 = "<option value="+data[i].id+"><font class='baner_font'>"
												+ data[i].hostname
												+ "__"
												+ data[i].lan_ip
												+ "</font></option>";
										$("#host_ip").prepend(str1);
									}

								}
								//var str1 = "<option value=-1><font class='baner_font'><-选择主机-></font></option>";
								//$("#host_ip").prepend(str1);
							}
						}
					}

				});

	};

	function subcmd() {
		var hostgroup_id = $("#hostgroup_name").val();
		var host_id = $("#host_ip").val();
		var cmd_content = $("#text_cmd").val();
		var files = $("#id_file").val()
	
		$.ajax({
			type : "POST",
			data : {
				'hostgroup_id' : hostgroup_id,
				'host_id' : host_id,
				'cmd_content' : cmd_content,
				'files': files
			},
			url : "/cmdb/cmd_run/",
			success : function(data, textStatus) {
				console.log(data);
				if (textStatus == 'success') {
					//$("#ajaxmodulerunresult").empty();
					if (data.length > 0) {
						var content = $("#ajaxmodulerunresult").html();
						$("#ajaxmodulerunresult").html(data + content);
					}
				}
			}

		});
	};

	function clear_screen() {
		$("#ajaxmodulerunresult").html('');
	}
	
	
	function nt_floor() {
		var hostgroup_id = $("#hostgroup_name").val();
		var host_id = $("#host_ip").val();
		
		$.ajax({
			type : "POST",
			data : {
				'hostgroup_id' : hostgroup_id,
				'host_id' : host_id,
				
			},
			url : "/cmdb/nt_floor/",
			success : function(data, textStatus) {
				console.log(data);
				if (textStatus == 'success') {
					//$("#ajaxmodulerunresult").empty();
					if (data.length > 0) {
						var content = $("#ajaxmodulerunresult").html();
						$("#ajaxmodulerunresult").html(data + content);
					}
				}
			}

		});
	};
	
	function pic_floor() {
		var hostgroup_id = $("#hostgroup_name").val();
		var host_id = $("#host_ip").val();
		
		$.ajax({
			type : "POST",
			data : {
				'hostgroup_id' : hostgroup_id,
				'host_id' : host_id,
				
			},
			url : "/cmdb/pic_floor/",
			success : function(data, textStatus) {
				console.log(data);
				if (textStatus == 'success') {
					//$("#ajaxmodulerunresult").empty();
					if (data.length > 0) {
						var content = $("#ajaxmodulerunresult").html();
						$("#ajaxmodulerunresult").html(data + content);
					}
				}
			}

		});
	};
	
	
	
	
	function web_floor() {
		var hostgroup_id = $("#hostgroup_name").val();
		var host_id = $("#host_ip").val();
		
		$.ajax({
			type : "POST",
			data : {
				'hostgroup_id' : hostgroup_id,
				'host_id' : host_id,
				
			},
			url : "/cmdb/web_floor/",
			success : function(data, textStatus) {
				console.log(data);
				if (textStatus == 'success') {
					//$("#ajaxmodulerunresult").empty();
					if (data.length > 0) {
						var content = $("#ajaxmodulerunresult").html();
						$("#ajaxmodulerunresult").html(data + content);
					}
				}
			}

		});
	};	
	
</script>

{% endblock %}




