{% extends 'master/layout.html' %} 

{% block user %}
	
		{{ username }} -- {{ user_type }}
	
{% endblock %}

{% block page-content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-1 col-md-1 sidebar">

			<ul class="nav nav-sidebar">
				<li >
					<a class="navbar-brand" href="/cmdb/create_host">添加主机</a>
				</li>
			</ul>
			
			<ul class="nav nav-sidebar">
				<li >
					<a class="navbar-brand" href="/cmdb/host_group_create">添加主机组</a>
				</li>
			</ul>			

			<ul class="nav nav-sidebar">
				<li>
					<a class="navbar-brand" href="/cmdb/host_list">主机列表</a>
				</li>
			</ul>

			<ul class="nav nav-sidebar">
				<li>
					<a class="navbar-brand" href="/cmdb/host_group_list">主机组列表</a>
				</li>
			</ul>

			<ul class="nav nav-sidebar">
				<li>
					<a class="navbar-brand" href="/cmdb/cmd">执行命令</a>
				</li>
			</ul>

			<ul class="nav nav-sidebar">
				<li>
					<a class="navbar-brand" href="/cmdb/cmd_code_release">代码发布</a>
				</li>
			</ul>
			
			<ul class="nav nav-sidebar">
				<li>
					<a class="navbar-brand" href="/cmdb/cmd_detail">命令明细</a>
				</li>
			</ul>
			
			<ul class="nav nav-sidebar">
				<li>
					<a class="navbar-brand" href="/cmdb/cmd_log">执行命令日志</a>
				</li>
			</ul>
			
		</div>

		<div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 main">

			{% block  cmdb_detail %}
			
				<h1 class="page-header">CMDB</h1>
			
			{% endblock %}

		</div>
	</div>
</div>
{% endblock %}





{% block js %}

	<script>

	
				$(document).ready(function() {
			
				$("#cmdb").css({
					"color" : "red",
					"font-size" : "20px"
				});
			});

	</script>
	
			{% block cmdb_js %}
				
			{% endblock %}
{% endblock %}
