{% extends 'cmdb/cmdb.html' %} 


{% block cmdb_detail %}

	host_group

{% endblock %}









{% block cmdb_js %}

<script>
	$(document).ready(function() {

		$("[href='/cmdb/create_host']").parent().removeClass('active');
		$("[href='/cmdb/host_list']").parent().removeClass('active');
		$("[href='/cmdb/service_status']").parent().removeClass('active');
		$("[href='/cmdb/service_group']").parent().removeClass('active');
		$("[href='/cmdb/host_group']").parent().addClass('active');
	});
</script>


{% endblock %}